
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
          <title>WildWall</title>
          <!-- Bootstrap Core CSS
          -->
          <link href="/static/css/bootstrap-3.2.0.min.css" rel="stylesheet">
            <!-- Custom CSS
            -->
            <link href="/static/css/wall.css" rel="stylesheet">
              <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
              -->
              <!--[if lt IE 9]
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
              -->
            </link>
          </link>
        </meta>
      </meta>
    </meta>
  </head>
  <body class="message">
    <!-- Page Content
    -->
  
    <div class="container">
      <div class="row">
        <div class="col-xs-12 page-header">
          <h1>
            <span></span>
            Wilder
          </h1>
          <p class="lead"> Bienvenue sur votre WildWall! </p>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
            <div class="profile-header-container">   
                <div class="profile-header-img">
                <img class="img-circle" src="images/logo.jpg" />
                <div class="rank-label-container">
                </div>
            </div>
        </div> 
            <div class="panel-heading">
              <%= form_for(@newmessage) do |f| %>
              <%= f.text_field :content %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "Envoyer", {:method => :post } %>

  
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- <span class="glyphicon glyphicon-list-alt"></span> -->
                @Wilds
              </h3>
            </div>
            <div class="panel-body">

            	<!-- messages de tous les utilisateurs, ordre decroissant -->

              <%= paginate @messages %>

              <% @messages.each do |message| %>
  						  
                  <p style="color: red;">
                  <%= message.user.name %>
                  <%= message.created_at %> 
                  </p>	

                <p style="color: blue;">
    							<%= message.content %>
  							</p>
  						<hr />
  						<% end %>

              <%= paginate @messages %>

						
            </div>
          </div>
        </div>
        <!--.row
        -->
      </div>
    </div>
    <!-- /.container
    -->
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <!-- jQuery v1.11.0
    -->
    <script src="/static/js/bootstrap-3.2.0.min.js"></script>
    <!-- Bootstrap's JS
    -->
    <script src="/static/js/wall.js"></script>
    <!-- Message Wall JS
    -->
  </body>
</html>