
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
          <title>WildWall</title>
          <!-- Bootstrap Core CSS
          -->
          <link href="/static/css/bootstrap-3.2.0.min.css" rel="stylesheet">
            <!-- Custom CSS
            -->
            <link href="/static/css/wall.css" rel="stylesheet">
              <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
              -->
              <!--[if lt IE 9]
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
              -->
            </link>
          </link>
        </meta>
      </meta>
    </meta>
  </head>
  <body class="message">
    <!-- Page Content
    -->
  
    <div class="container">
      <div class="row">
        <div class="col-xs-12 page-header">
          <h1>
            <span></span>
            Wilder
          </h1>
          <p class="lead"> Bienvenue sur votre WildWall! </p>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
            <div class="profile-header-container">   
                <div class="profile-header-img">
                <img class="img-circle" src="images/logo.jpg" />
                <div class="rank-label-container">
                </div>
            </div>
        </div> 
            <div class="panel-heading">
              <%= form_for(@newmessage) do |f| %>
              <%= f.text_field :content %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "Envoyer", {:method => :post } %>

  
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-list-alt"></span>
                Messages
              </h3>
               <p><%= paginate @messages %></p>
            </div>
          </div>

          <!-- Fil des Messages -->
          <% @messages.each do |message| %>
          <div class="message-item">
            <div class="message-inner">
              <div class="message-head clearfix">
                <div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
                <div class="user-detail">
                  <h5 class="handle"><%= message.user.name %></h5>
                  <% unless message.user.followers.include?(current_user) %>
                  <%= link_to "follow", follow_profil_path(message.user.id) %>
                  <% end %>
                  <div class="post-meta">
                    <div class="asker-meta">
                      <span class="qa-message-what"></span>
                      <span class="qa-message-when">
                        <span class="qa-message-when-data"><%= message.created_at %></span>
                      </span>
                      <span class="qa-message-who">
                        <span class="qa-message-who-pad">by </span>
                        <span class="qa-message-who-data"><%= link_to message.user.name, show_profil_path(message.user.id) %></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="qa-message-content">
                <%= message.content %>
              </div>
            </div>
          </div>
          <% end %>

          <div class="well">
            <%= paginate @messages %>  
          </div>
          
            </div>
          </div>
        </div>
        <!--.row
        -->
      </div>
    </div>
    <!-- /.container
    -->
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <!-- jQuery v1.11.0
    -->
    <script src="/static/js/bootstrap-3.2.0.min.js"></script>
    <!-- Bootstrap's JS
    -->
    <script src="/static/js/wall.js"></script>
    <!-- Message Wall JS
    -->
  </body>
</html>