<html>
  <head>
    <title>Wilder</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body id="devise">

	<div id="button_connect">
	 <%= link_to "New User", new_user_registration_path, class: "btn btn-default" %> 
				
	 <%= link_to "Connection", new_user_session_path, class: "btn btn-default" %>    
  </div>

  <%= yield %>

</body>
</html>